Django<1.12
mysqlclient
redis
gunicorn
simplejson
gevent
requests
python3-memcached
jsmin
beautifulsoup4
lxml
werkzeug
numpy
Pillow
xmltodict
dict2xml
hiredis
sqlalchemy
xlrd
django-extensions
ipython
Werkzeug
setproctitle
arrow
django-cors-headers
django-daterange-filter

# test
pytest
pytest-xdist
pytest-django
